@font-face {
  font-family: "IBM Plex Sans";
  src: url(../../fonts/IBMPlexSans-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1252px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

body {
  font-family: "IBM Plex Sans";
  overflow-x: hidden;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url(../../fonts/IBMPlexSans-Regular.ttf);
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url(../../fonts/IBMPlexSans-Regular.ttf);
}
header {
  background-image: url(../../imges/box.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-bottom: 137px;
}

p {
  margin: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 39px 0;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
}
.nav__list--item a {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(6, 18, 36, 0.9);
}
.nav .select {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border: none;
  background: transparent;
  color: rgba(6, 18, 36, 0.9);
}
.nav .btn {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  border: 1.5px solid #1064E5;
  border-radius: 43px;
  padding: 8px 32px;
  color: rgba(6, 18, 36, 0.9);
}
.nav .btn:hover {
  background: #1064E5;
  border-radius: 45px;
  color: #FFFFFF;
  transition: all 2s ease;
  transform: rotate(360deg);
}
.nav .btn1 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  background: #1064E5;
  border-radius: 45px;
  border: none;
  padding: 8px 32px;
  border: 1px solid transparent;
}
.nav .btn1:hover {
  background: #FFFFFF;
  border-radius: 45px;
  color: #1064E5;
  transition: all 2s ease;
  transform: rotate(360deg);
  border: 1px solid #1064E5;
}

.input {
  display: none;
}

.label {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    padding-bottom: 30px;
    background-image: url(../../imges/tabletbagcround.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
  }
  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 39px;
  }
  .nav__list {
    position: absolute;
    top: 0px;
    left: -10px;
    background-color: #f6f6f6;
    padding: 30px;
    transform: translatey(-120%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
    transition: all 1s ease;
  }
  .label {
    display: block;
  }
  .input:checked ~ .nav .nav__list {
    transform: translatey(0);
  }
}
@media screen and (max-width: 576px) {
  header {
    background-image: url(../../imges/boxmabayl.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding-bottom: 13px;
  }
  .nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px;
  }
  .nav__list {
    position: absolute;
    top: 0px;
    left: -10px;
    background-color: #f6f6f6;
    padding: 30px;
    transform: translatey(-120%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 36px;
    transition: all 1s ease;
  }
}
.digital {
  padding-top: 115px;
}
.digital__title {
  max-width: 560px;
  width: 100%;
  padding-bottom: 14px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  color: "IBM Plex Sans";
}
.digital .leni1 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: rgba(6, 18, 36, 0.9);
}
.digital__strong {
  display: block;
  padding: 14px 0;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: rgba(6, 18, 36, 0.9);
}
.digital__text {
  max-width: 453px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: rgba(6, 18, 36, 0.9);
  padding-bottom: 37px;
}
.digital__btn {
  padding: 15px 32px;
  background: #1064E5;
  border-radius: 45px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 130%;
  color: #FFFFFF;
  border: none;
  border: 1px solid transparent;
}
.digital__btn:hover:hover {
  background: #FFFFFF;
  border-radius: 45px;
  color: #1064E5;
  transition: all 2s ease;
  transform: rotate(360deg);
  border: 1px solid #1064E5;
}
.digital .span {
  padding-top: 98px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
.digital .span .span--leni {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid #1064E5;
}

@media screen and (max-width: 768px) {
  .digital {
    padding: 0 39px;
  }
  .digital__title {
    max-width: 340px;
  }
  .digital__text {
    max-width: 324px;
    padding-bottom: 35px;
  }
  .digital__btn .span {
    padding-top: 98px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  .digital__btn .span .span--leni {
    display: block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 2px solid #1064E5;
  }
}
.hero {
  padding-top: 54px;
  padding-bottom: 74px;
}
.hero__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.hero__list--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero__list .para {
  padding-left: 20px;
}
.hero__list .para__title {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 65px;
  color: rgba(6, 18, 36, 0.9);
}
.hero__list .para__text {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  max-width: 226px;
  color: rgba(6, 18, 36, 0.9);
}

@media screen and (max-width: 768px) {
  .hero__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 29px;
  }
  .hero__list--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 768px) {
  .hero__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 29px;
  }
  .hero__list--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.conford-site {
  background: #D8F1F0;
  padding-top: 57px;
  padding-bottom: 92px;
}

.conford {
  padding-bottom: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.conford__left--title {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: rgba(6, 18, 36, 0.9);
  padding-bottom: 18px;
}
.conford__left--text {
  max-width: 512px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: rgba(6, 18, 36, 0.9);
  padding-bottom: 18px;
}
.conford__left .btn {
  padding: 22px 50px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: rgba(6, 18, 36, 0.9);
  border: 1.5px solid #1064E5;
  border-radius: 46px;
}
.conford__left .btn:hover {
  background-color: #1064E5;
  border: 1.5px solid transparent;
  transition: all 2s ease;
  color: #FFFFFF;
  transform: rotate(360deg);
}
.conford__right--img1 {
  display: none;
}
.conford__right--img2 {
  display: none;
}

@media screen and (max-width: 768px) {
  .conford {
    padding-bottom: 57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .conford .lleft {
    padding-right: 50px;
  }
  .conford .llleft {
    padding-left: 50px;
  }
  .conford__left .btn {
    padding: 11px 50px;
  }
  .conford__right--img {
    display: none;
  }
  .conford__right--img2 {
    display: none;
  }
  .conford__right--img1 {
    display: block;
  }
}
@media screen and (max-width: 576px) {
  .conford {
    padding-bottom: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .conford .lleft {
    padding-right: 0px;
  }
  .conford .llleft {
    padding-left: 0px;
  }
  .conford__left {
    padding-bottom: 32px;
  }
  .conford__left--title {
    padding-top: 18px;
    font-size: 20px;
    line-height: 22px;
  }
  .conford__left--text {
    max-width: 267px;
    margin: 0 auto;
    font-size: 14px;
  }
  .conford__left .btn {
    padding: 11px 50px;
  }
  .conford__right--img {
    display: none;
  }
  .conford__right--img1 {
    display: none;
  }
  .conford__right--img2 {
    display: block;
  }
}
.signature__list--item {
  background: #DEEEFC;
  border-radius: 4px;
}/*# sourceMappingURL=main.css.map */