@import '../veraybels';
@import './fonts';
header {
    @include BG (url(../../imges/box.png), no-repeat, 100%, center);
    padding-bottom: 137px;
}

p {
    margin: 0;
}

.nav {
    @include flexfunksiya (row, center, space-between, wrap);
    padding: 39px 0;
    &__list {
        @include flexfunksiya (row, center, center, wrap);
        gap: 36px;
        &--item a {
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: $nav-color;
        }
    }
    .select {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        border: none;
        background: transparent;
        color: $nav-color;
    }
    .btn {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        border: 1.5px solid$btn-color;
        border-radius: 43px;
        padding: 8px 32px;
        color: $nav-color;
        &:hover {
            background: $btn-color;
            border-radius: 45px;
            color: $white-color;
            transition: all 2s ease;
            transform: rotate(360deg);
        }
    }
    .btn1 {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $white-color;
        background: $btn-color;
        border-radius: 45px;
        border: none;
        padding: 8px 32px;
        border: 1px solid transparent;
        &:hover {
            background: $white-color;
            border-radius: 45px;
            color: $btn-color;
            transition: all 2s ease;
            transform: rotate(360deg);
            border: 1px solid $btn-color;
        }
    }
}

.card {
    &-title {
        padding-top: 113px;
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 46px;
        color: $nav-color;
        padding-bottom: 18px;
    }
    .leni {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: $nav-color;
        opacity: 0.6;
        padding-bottom: 15px;
        &:hover {
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            color: $nav-color;
            opacity: 0.9;
            transition: all 5s ease;
        }
    }
    .card__text {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 130%;
        color: $nav-color;
        padding-bottom: 15px;
    }
    .btn {
        background: $btn-color;
        border-radius: 45px;
        margin-top: 32px;
        &:hover {
            transition: all 2s ease;
            transform: rotate(360deg);
            background: linear-gradient(0deg, $white-color, $white-color);
            color: $btn-color;
        }
    }
}

.span {
    @include flexfunksiya (row, center, center, wrap);
    gap: 25px;
    .span--leni {
        display: block;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        left: 715px;
        top: 637px;
        border: 2px solid $btn-color;
    }
}

.input {
    display: none;
}

.label {
    display: none;
}

@media screen and (max-width:768px) {
    header {
        position: absolute;
        top: 0;
        @include BG (url(../../imges/tabletbagcround.png), no-repeat, 100%, center);
    }
    .nav {
        @include flexfunksiya (row, start, space-between, wrap);
        padding: 30px 20px;
        width: 100%;
        position: absolute;
        top: 0;
        &__list {
            position: absolute;
            top: 0;
            @include flexfunksiya (column, center, space-between, wrap);
            transform: translatey(-120%);
            transition: all 2s ease;
            gap: 36px;
        }
    }
    .label {
        display: block;
    }
    .input:checked~.nav .nav__list {
        transform: translatey(0);
    }
}

.card {
    max-width: 670px;
    &-title {
        padding-top: 50px;
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 46px;
        color: $nav-color
    }
    .leni {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: $nav-color;
        opacity: 0.6;
        &:hover {
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            color: $nav-color;
            opacity: 0.9;
            transition: all 5s ease;
        }
        &__text {
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            color: $nav-color;
        }
    }
}

@media screen and (max-width:576px) {}