@import '../veraybels';
@import './fonts';
header {
    @include BG (url(../../imges/box.png), no-repeat, 100%, center)
}

.nav {
    @include flexfunksiya (row, center, space-between, wrap);
    padding: 39px 0;
    &__list {
        @include flexfunksiya (row, center, center, wrap);
        gap: 36px;
        &--item a {
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: $nav-color;
        }
    }
    .select {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        border: none;
        background: transparent;
        color: $nav-color;
    }
    .btn {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        border: 1.5px solid$btn-color;
        border-radius: 43px;
        padding: 8px 32px;
        color: $nav-color;
        &:hover {
            background: #1064E5;
            border-radius: 45px;
            color: $white-color;
            transition: all 2s ease;
            transform: rotate(360deg);
        }
    }
    .btn1 {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: $white-color;
        background: $btn-color;
        border-radius: 45px;
        border: none;
        padding: 8px 32px;
        border: 1px solid transparent;
        &:hover {
            background: $white-color;
            border-radius: 45px;
            color: $btn-color;
            transition: all 2s ease;
            transform: rotate(360deg);
            border: 1px solid $btn-color;
        }
    }
}

.card {
    &-title {
        padding-top: 113px;
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 46px;
        color: $nav-color
    }
    .leni {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        color: $nav-color;
        opacity: 0.6;
        &:hover {
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            color: $nav-color;
            opacity: 0.9;
            transition: all 5s ease;
        }
        &__text {
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            color: $nav-color;
        }
    }
}