@import '../mixin';
@import '../veraybels';
.hero {
    padding-top: 54px;
    padding-bottom: 74px;
    &__list {
        @include flexfunksiya (row, center, space-around, wrap);
        &--item {
            @include flexfunksiya (row, center, center, wrap);
        }
        .para {
            padding-left: 20px;
        }
        .para__title {
            font-family: 'IBM Plex Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 65px;
            color: rgba(6, 18, 36, 0.9);
        }
        .para__text {
            font-family: 'IBM Plex Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            max-width: 226px;
            color: rgba(6, 18, 36, 0.9);
        }
    }
}

@media screen and (max-width:768px) {
    .hero {
        &__list {
            @include flexfunksiya (row, center, center, nowrap);
            gap: 29px;
            &--item {
                @include flexfunksiya (row, center, center, nowrap);
            }
        }
    }
}

@media screen and (max-width:768px) {
    .hero {
        &__list {
            @include flexfunksiya (row, center, center, wrap);
            gap: 29px;
            &--item {
                @include flexfunksiya (row, center, center, wrap);
            }
        }
    }
}

.conford-site {
    background: #D8F1F0;
    padding-top: 57px;
    padding-bottom: 92px;
}

.conford {
    @include flexfunksiya (row, center, space-between, nowrap);
    &__left {
        &--title {
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            color: $nav-color;
            padding-bottom: 18px;
        }
        &--text {
            max-width: 512px;
            font-family: $fonts;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: $nav-color;
            padding-bottom: 18px;
        }
        .btn {
            padding: 22px 50px;
            font-family: $fonts;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: $nav-color;
            border: 1.5px solid #1064E5;
            border-radius: 46px;
            &:hover {
                background-color: $btn-color;
                border: 1.5px solid transparent;
                transition: all 2s ease;
                color: $white-color;
                transform: rotate(360deg);
            }
        }
    }
}