@import '../mixin';
@import '../veraybels';
.hero {
    padding-top: 54px;
    padding-bottom: 74px;
    &__list {
        @include flexfunksiya (row, center, space-around, wrap);
        &--item {
            @include flexfunksiya (row, center, center, wrap);
        }
        .para {
            padding-left: 20px;
        }
        .para__title {
            font-family: 'IBM Plex Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 65px;
            color: rgba(6, 18, 36, 0.9);
        }
        .para__text {
            font-family: 'IBM Plex Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
            max-width: 226px;
            color: rgba(6, 18, 36, 0.9);
        }
    }
}

@media screen and (max-width:768px) {
    .hero {
        &__list {
            @include flexfunksiya (row, center, center, nowrap);
            gap: 29px;
            &--item {
                @include flexfunksiya (row, center, center, nowrap);
            }
        }
    }
}

@media screen and (max-width:768px) {
    .hero {
        &__list {
            @include flexfunksiya (row, center, center, wrap);
            gap: 29px;
            &--item {
                @include flexfunksiya (row, center, center, wrap);
            }
        }
    }
}

.conford-site {
    background: #D8F1F0;
    padding-top: 57px;
    padding-bottom: 92px;
}

.conford {
    padding-bottom: 53px;
    @include flexfunksiya (row, center, space-between, wrap);
    &__left {
        &--title {
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            color: $nav-color;
            padding-bottom: 18px;
        }
        &--text {
            max-width: 512px;
            font-family: $fonts;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: $nav-color;
            padding-bottom: 18px;
        }
        .btn {
            padding: 22px 50px;
            font-family: $fonts;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: $nav-color;
            border: 1.5px solid #1064E5;
            border-radius: 46px;
            &:hover {
                background-color: $btn-color;
                border: 1.5px solid transparent;
                transition: all 2s ease;
                color: $white-color;
                transform: rotate(360deg);
            }
        }
    }
    &__right {
        &--img1 {
            display: none;
        }
        &--img2 {
            display: none;
        }
    }
}

@media screen and (max-width:768px) {
    .conford {
        padding-bottom: 57px;
        .lleft {
            padding-right: 50px;
        }
        .llleft {
            padding-left: 50px;
        }
        &__left {
            .btn {
                padding: 11px 50px;
            }
        }
        @include flexfunksiya (row, center, space-between, nowrap);
        &__right {
            &--img {
                display: none;
            }
            &--img2 {
                display: none;
            }
            &--img1 {
                display: block;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .conford {
        padding-bottom: 53px;
        .lleft {
            padding-right: 0px;
        }
        .llleft {
            padding-left: 0px;
        }
        &__left {
            padding-bottom: 32px;
            &--title {
                padding-top: 18px;
                font-size: 20px;
                line-height: 22px;
            }
            &--text {
                max-width: 267px;
                margin: 0 auto;
                font-size: 14px;
            }
            .btn {
                padding: 11px 50px;
            }
        }
        @include flexfunksiya (column, center, center, wrap);
        &__right {
            &--img {
                display: none;
            }
            &--img1 {
                display: none;
            }
            &--img2 {
                display: block;
            }
        }
    }
}

.signature {
    padding-bottom: 98px;
    &__title {
        font-family: $fonts;
        padding: 60px 0;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: $nav-color;
    }
    &__list {
        @include flexfunksiya (row, center, space-around, wrap);
        gap: 20px;
        &--item {
            padding: 32px;
            width: 256px;
            height: 352px;
            background: #DEEEFC;
            border-radius: 4px;
        }
        .list-text {
            padding-bottom: 44px;
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 40px;
            color: $nav-color;
        }
        .list-text1 {
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $nav-color;
            padding-bottom: 18px;
        }
        .list-text3 {
            font-family: $fonts;
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            color: $nav-color;
            padding-bottom: 50px;
        }
        .text3-leni {
            font-size: 20px;
            line-height: 24px;
        }
        .list-text121 {
            font-family: 'IBM Plex Sans';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            max-width: 180px;
            padding-bottom: 84px;
            color: rgba(6, 18, 36, 0.9);
        }
        .pll {
            padding-left: 32px;
            padding-right: 60px;
        }
        .pll1 {
            padding: 23px;
        }
        .btn {
            background: $btn-color;
            border-radius: 100px;
            padding: 9px 20px;
            border: none;
            font-family: $fonts;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 20px;
            color: #EBF5F6;
            border: 1px solid transparent;
            transition: all 2s ease;
            &:hover {
                background: $white-color;
                color: $btn-color;
                border: 1px solid $btn-color;
                transition: all 2s ease;
                transform: rotate(360deg);
            }
        }
    }
}

@media screen and (max-width:768px) {
    .siganture {
        &__list {
            @include flexfunksiya (row, center, space-around, wrap);
            .pp {}
        }
    }
}

.segnet-site {
    background: #D8F1F0;
    padding: 43px 0;
}

.segned {
    &__title {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 73px;
        line-height: 48px;
        text-align: center;
        color: $nav-color;
    }
    &__text {
        text-align: center;
        padding: 12px 0;
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        color: $nav-color;
    }
    &__text1 {
        max-width: 478px;
        margin: 0 auto;
        font-family: $fonts;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: $nav-color;
    }
}

.druze {
    &__title {
        padding-top: 44px;
        padding-bottom: 29px;
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: $nav-color;
    }
    &__list {
        @include flexfunksiya (row, center, space-around, wrap);
    }
    .span1 {
        @include flexfunksiya (row, center, center, nowrap);
        gap: 25px;
        padding-top: 30px;
        padding-bottom: 58px;
        .leni11 {
            display: block;
            border: 1px solid $btn-color;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            &:hover {
                background: $btn-color;
            }
        }
    }
}

.writing-site {
    background: #D8F1F0;
    padding-top: 38px;
    padding-bottom: 44px;
}

.writing {
    &__title {
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: $nav-color;
        padding-bottom: 32px;
    }
    &__list {
        @include flexfunksiya (row, center, space-between, wrap);
        .date {
            padding-top: 14px;
            padding-bottom: 6px;
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: $nav-color;
        }
        .writing-text {
            max-width: 256px;
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 26px;
            color: $nav-color;
        }
    }
}

@media screen and (max-width:768px) {
    .writing {
        &__title {
            font-family: $fonts;
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: $nav-color;
            padding-bottom: 32px;
        }
        &__list {
            @include flexfunksiya (row, center, space-evenly, wrap);
            &--item {
                padding-bottom: 40px;
            }
        }
    }
}

.live {
    &__title {
        padding-top: 49px;
        padding-bottom: 20px;
        font-family: $fonts;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: $nav-color;
    }
    iframe {
        padding-bottom: 63px;
        display: block;
        max-width: 734px;
        width: 100%;
        height: 451px;
        margin: 0 auto;
    }
}